@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    a {
        @apply transition-colors underline decoration-transparent hover:decoration-red decoration-2;
    }

    blockquote {
        quotes: none !important;
    }

    input[type="number"],
    input[type="checkbox"],
    button {
        -webkit-appearance: none;
        appearance: none;
        margin: 0;
    }
}

input:focus,
button:focus {
    outline: none !important;
    @apply ring-0 !important;
    @apply ring-offset-0 !important;
}

input:disabled,
button:disabled {
    @apply brightness-90;
}

html {
    @apply bg-white-shade;
}